<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add goods</title>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css" >
    <link rel="stylesheet" href="./stylesheets/add.css">
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
</head>
<body>
    <div class="container">
        <div class="right-content">
            <div id="show-back-stage-down">
                <div class="information1">
                    <div class="add-goods">
                        <p>商品信息</p>
                    </div>
                    <div class="add-goods-name">
                        <div class="add-goods-name-a">
                            <em class="add-goods-name-top">
                                <span class="goods-icon">*</span>
                                商品名称：
                            </em>
                            <textarea class="add-goods-name-width" rows="2" id="edit-goods-name"></textarea>
                            <span>(商品名称在160字以内(name))</span>
                        </div>
                        <div class="add-goods-name-a">
                            <em class="add-goods-name-top">商品副题：</em>
                            <textarea class="add-goods-name-width" rows="2" id="edit-goods-search-key"></textarea>
                            <span>(商品副题在100字以内(info))</span>
                        </div>
                        <div class="add-goods-name-a">
                            <em class="add-goods-name-top">商品备注：</em>
                            <textarea class="add-goods-name-width" rows="2" id="edit-goods-remark"></textarea>
                            <span>(商品备注不出现在商品描述中,仅供后台管理商品使用 100字以内)</span>
                        </div>
                        <div class="add-goods-name-a">
                            <em><span class="goods-icon">*</span>商品单位：</em>
                            <input id="edit-goods-market-unit" value="件">
                        </div>
                        <div class="add-goods-name-a" id="goods-main-class">
                            <em><span class="goods-icon">*</span>所属分类：</em>
                            <select style="min-width:100px;" id="store-nav-class1">
                                <option value="-1">一级类</option>
                                <option index="0" value="209885" text="家电">家电</option>
                                <option index="1" value="209923" text="水电费">水电费</option>
                            </select>
                            <select style="min-width:100px;" id="store-nav-class2">
                                <option value="-1">二级类</option>
                            </select>
                            <select style="min-width:100px;" id="store-nav-class3">
                                <option value="-1">三级类</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-goods">
                        <p>商品属性,库存,价格</p>
                    </div>
                    <div class="add-goods-sort">
                        <div class="input-style4" id="prop-class-edit" style="float: left; margin-left: 10px;display:none">添加</div>
                    </div>
                    <div class="add-goods-table" id="edit-prop-item-list">
                        <div class="add-goods-name not-import">
                            <div class="add-goods-name-a">
                                <em>
                                    <span class="goods-icon">*</span>
                                    商品价格：
                                </em>
                                <input id="price" name="price">
                            </div>
                            <div class="add-goods-name-a">
                                <em>
                                    <span class="goods-icon">*</span>
                                    商品数量：
                                </em>
                                <input id="number" name="number">
                            </div>
                            <div class="add-goods-name-a">
                                <em>
                                    <span class="goods-icon">*</span>
                                    商品编码：
                                </em>
                                <input id="code" name="code">
                            </div>
                        </div>
                    </div>
                    <div class="add-goods">
                        <p>商品图片</p>
                    </div>
                    <div class="add-goods-sort">
                        <p class="sort-input2" style="text-indent: 24px;">(最多可上传5张)</p>
                    </div>
                    <ul class="add-goods-photo">
                        <li class="add-goods-photo-a" id="photo1">
                            <div class="add-goods-photo-img">
                                <img src="/images/img.jpg">
                            </div>
                            <ul class="add-goods-photo-button">
                                <li>
                                    <div class="input-style4 photo-edit" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;">上传
                                    </div>
                                </li>
                                <li class="button-float">
                                    <div class="input-style1 photo-delete" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;background:#ccc;">删除
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="add-goods-photo-a" id="photo2">
                            <div class="add-goods-photo-img">
                                <img src="/images/img.jpg">
                            </div>
                            <ul class="add-goods-photo-button">
                                <li>
                                    <div class="input-style4 photo-edit" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;">上传
                                    </div>
                                </li>
                                <li class="button-float">
                                    <div class="input-style1 photo-delete" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;background:#ccc;">删除
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="add-goods-photo-a" id="photo3">
                            <div class="add-goods-photo-img">
                                <img src="/images/img.jpg">
                            </div>
                            <ul class="add-goods-photo-button">
                                <li>
                                    <div class="input-style4 photo-edit" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;">上传
                                    </div>
                                </li>
                                <li class="button-float">
                                    <div class="input-style1 photo-delete" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;background:#ccc;">删除
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="add-goods-photo-a" id="photo4">
                            <div class="add-goods-photo-img">
                                <img src="/images/img.jpg">
                            </div>
                            <ul class="add-goods-photo-button">
                                <li>
                                    <div class="input-style4 photo-edit" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;">上传
                                    </div>
                                </li>
                                <li class="button-float">
                                    <div class="input-style1 photo-delete" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;background:#ccc;">删除
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="add-goods-photo-a" id="photo5">
                            <div class="add-goods-photo-img">
                                <img src="/images/img.jpg">
                            </div>
                            <ul class="add-goods-photo-button">
                                <li>
                                    <div class="input-style4 photo-edit" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;">上传
                                    </div>
                                </li>
                                <li class="button-float">
                                    <div class="input-style1 photo-delete" photo_no="1" style="float: left;width:46px;height:25px;line-height:25px;font-size:12px;background:#ccc;">删除
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="add-goods">
                        <p>商品描述</p>
                    </div>
                    <script id="editor" type="text/plain" style="width:1024px;height:500px;margin-left: 53px;"></script>
                    <div class="input-style4" style="float: right;margin-right: 536px; margin-top: 11px;" id="edit-goods-confirm">确定</div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="./jquery/dist/jquery.min.js"></script>
<script>
    UE.getEditor('editor');
</script>
</html>
