<div class="container">
    <div class="right-content">
        <div id="show-back-stage-down">
            <div class="information">
                <div class="add-goods">
                    <p>商品信息</p>
                </div>
                <div class="add-goods-name">
                    <div class="add-goods-name-a">
                        <em class="add-goods-name-top">
                            <span class="goods-icon">*</span>
                            商品名称：
                        </em>
                        <textarea class="add-goods-name-width" rows="2" id="goods-name" title="亲~~~" data-toggle="popover" data-placement="right" data-content="忘记填写商品名称了"></textarea>
                        <span>(商品名称在160字以内(name))</span>
                    </div>
                    <div class="add-goods-name-a">
                        <em class="add-goods-name-top">商品副题：</em>
                        <textarea class="add-goods-name-width" rows="2" id="goods-simple-info"></textarea>
                        <span>(商品副题在100字以内(info))</span>
                    </div>
                    <div class="add-goods-name-a">
                        <em class="add-goods-name-top">商品规格：</em>
                        <textarea class="add-goods-name-width" rows="2" id="goods-standards"></textarea>
                        <span>(若有多个规格，用一个空格隔开)</span>
                    </div>
                    <div class="add-goods-name-a">
                        <em class="add-goods-name-top">商品备注：</em>
                        <textarea class="add-goods-name-width" rows="2" id="goods-remark"></textarea>
                        <span>(商品备注不出现在商品描述中,仅供后台管理商品使用 100字以内)</span>
                    </div>
                    <div class="add-goods-name-a">
                        <em><span class="goods-icon">*</span>商品单位：</em>
                        <input id="goods-market-unit" value="件" title="亲~~~" data-toggle="popover" data-placement="right" data-content="请填写商品单位">
                    </div>
                    <div class="add-goods-name-a" id="goods-main-class">
                        <em><span class="goods-icon">*</span>所属分类：</em>
                        <select id="store-nav-class1">
                            <option value="-1">一级类</option>
                            <option value="209885" text="家电">家电</option>
                            <option value="209923" text="水电费">水电费</option>
                        </select>
                        <select id="store-nav-class2">
                            <option value="-1">二级类</option>
                        </select>
                        <select id="store-nav-class3">
                            <option value="-1">三级类</option>
                        </select>
                    </div>
                </div>
                <div class="add-goods">
                    <p>商品属性,库存,价格</p>
                </div>
                <div class="add-goods-sort">
                    <div class="input-style4" id="prop-class-edit">添加</div>
                </div>
                <div class="add-goods-table" id="edit-prop-item-list">
                    <div class="add-goods-name not-import">
                        <div class="add-goods-name-a">
                            <em>
                                <span class="goods-icon">*</span>
                                商品价格：
                            </em>
                            <input id="price" name="price" title="亲~~~" data-toggle="popover" data-placement="right" data-content="请填写商品价格">
                            <span>(输入合理的价格数字)</span>
                        </div>
                        <div class="add-goods-name-a">
                            <em>
                                <span class="goods-icon">*</span>
                                商品数量：
                            </em>
                            <input id="number" name="number" title="亲~~~" data-toggle="popover" data-placement="right" data-content="请填写商品数量">
                            <span>(输入合理的数量数字)</span>
                        </div>
                        <div class="add-goods-name-a">
                            <em>
                                <span class="goods-icon">*</span>
                                商品编码：
                            </em>
                            <input id="code" name="code">
                            <span>(输入合理的编码数字)</span>
                        </div>
                    </div>
                </div>
                <div class="add-goods">
                    <p>商品图片</p>
                </div>
                <div class="add-goods-sort">
                    <p class="sort-input2">(最多可上传5张)</p>
                </div>
                <ul class="add-goods-photo">
                    <li class="add-goods-photo-a" id="photo1">
                        <div class="add-goods-photo-img">
                            <img src="/images/img.jpg" id = "imgShowOne">
                        </div>
                        <ul class="add-goods-photo-button">
                        <form method='post' action='javascript:;' id = "frmUploadFileOne">
                            <li>
                                <div class="input-style4 photo-edit" id = "uploadFileOne">上传
                                </div>
                            </li>
                            <li class="button-float">
                                <div class="input-style1 photo-delete" id="photo-delete-one">删除
                                </div>
                            </li>
                            <span id="one-picture">
                            <input type="file" name="files" class="upload-picture"/>
                            </span>
                        </form>
                        </ul>
                    </li>
                    <li class="add-goods-photo-a" id="photo2">
                        <div class="add-goods-photo-img">
                            <img src="/images/img.jpg" id = "imgShowTwo">
                        </div>
                        <ul class="add-goods-photo-button">
                        <form method='post' action='javascript:;' id = "frmUploadFileTwo">
                            <li>
                                <div class="input-style4 photo-edit" id = "uploadFileTwo">上传
                                </div>
                            </li>
                            <li class="button-float">
                                <div class="input-style1 photo-delete" id="photo-delete-two">删除
                                </div>
                            </li>
                            <span id="two-picture">
                            <input type="file" name="files" class="upload-picture"/>
                            </span>
                        </form>
                        </ul>
                    </li>
                    <li class="add-goods-photo-a" id="photo3">
                        <div class="add-goods-photo-img">
                            <img src="/images/img.jpg" id = "imgShowThree">
                        </div>
                        <ul class="add-goods-photo-button">
                        <form method='post' action='javascript:;' id = "frmUploadFileThree">
                            <li>
                                <div class="input-style4 photo-edit" id = "uploadFileThree">上传
                                </div>
                            </li>
                            <li class="button-float">
                                <div class="input-style1 photo-delete" id="photo-delete-three">删除
                                </div>
                            </li>
                            <span id="three-picture">
                            <input type="file" name="files" class="upload-picture"/>
                            </span>
                        </form>
                        </ul>
                    </li>
                    <li class="add-goods-photo-a" id="photo4">
                        <div class="add-goods-photo-img">
                            <img src="/images/img.jpg" id = "imgShowFour">
                        </div>
                        <ul class="add-goods-photo-button">
                        <form method='post' action='javascript:;' id = "frmUploadFileFour">
                            <li>
                                <div class="input-style4 photo-edit" id = "uploadFileFour">上传
                                </div>
                            </li>
                            <li class="button-float">
                                <div class="input-style1 photo-delete" id="photo-delete-four">删除
                                </div>
                            </li>
                            <span id="four-picture">
                            <input type="file" name="files" class="upload-picture"/>
                            </span>
                        </form>
                        </ul>
                    </li>
                    <li class="add-goods-photo-a" id="photo5">
                        <div class="add-goods-photo-img">
                            <img src="/images/img.jpg" id = "imgShowFive">
                        </div>
                        <ul class="add-goods-photo-button">
                        <form method='post' action='javascript:;' id = "frmUploadFileFive">
                            <li>
                                <div class="input-style4 photo-edit" id = "uploadFileFive">上传
                                </div>
                            </li>
                            <li class="button-float">
                                <div class="input-style1 photo-delete" id="photo-delete-five">删除
                                </div>
                            </li>
                            <span id="five-picture">
                            <input type="file" name="files" class="upload-picture"/>
                            </span>
                        </form>
                        </ul>
                    </li>
                </ul>
                <div class="add-goods">
                    <p>商品描述</p>
                </div>
                <script id="editor" type="text/plain" style="width:1024px;height:500px;margin-left: 53px;"></script>
                <div class="input-style4" id="goods-confirm">添加</div>
            </div>
        </div>
    </div>
</div>
