<div class="container">
    <div class="category-promotion">
        <div class="goods-class">
            类商品促销
        </div>
        <div class="category1">
            <input type="checkbox"><a href="">所有商品</a>
            <div class="category2">
                <input type="checkbox"/><a href="">图书</a>
                <div class="category3">
                    <input type="checkbox">电子书刊 <br/>
                    <input type="checkbox"> <br/>
                    <input type="checkbox"> <br/>
                </div>
                <input type="checkbox"><a href="">家电</a>
                <div class="category3">
                    <input type="checkbox"> <br/>
                    <input type="checkbox"> <br/>
                </div>
                <input type="checkbox"><a href="">服饰</a>
                <div class="category3">
                    <input type="checkbox">男装　<br/>
                    <input type="checkbox"> 女装 <br/>
                </div>
            </div>
        </div>
        <div class="promotion-type">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option1"> 直降
                        </label>
                        <select class="btn btn-default" name="price-fall">
                            <option value="0">10元</option>
                            <option value="1">20元</option>
                            <option value="2">30元</option>
                            <option value="3">40元</option>
                        </select>
                    </td>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option2"> 打折
                        </label>
                        <select class="btn btn-default" name="discount">
                            <option value="0">9折</option>
                            <option value="1">8折</option>
                            <option value="2">7折</option>
                            <option value="3">6折</option>
                        </select><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option3"> 满减
                        </label>
                        <select class="btn btn-default" name="decrease">
                            <option value="0">满100减10元</option>
                            <option value="1">满200减30元</option>
                            <option value="2">满300减50元</option>
                        </select>
                    </td>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option3"> 满送
                        </label>
                        <select class="btn btn-default" name="coupon">
                            <option value="0">买2赠1</option>
                            <option value="1">买3赠1</option>
                            <option value="2">买4赠1</option>
                            <option value="3">买5赠1</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="goods-promotion-determine">
                <input class="btn btn-default" type="submit" value="确定">
            </div>
        </div>
    </div>

    </div>
    <div class="goods-promotion">
            <div class="goods">
            商品促销
        </div>
        <br/>
        <div class="goods-query">
            ID <input type="text"/>
            <input class="btn btn-default" type="button" value="查看">
        </div>
        <br/>
        <div class="goods-details">
            <table class="table table-bordered">
                <tr>
                    <td>id</td>
                    <td><input type="text"/></td>
                    <td>name</td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>图片</td>
                    <td><div class="img"></div></td>
                    <td>价格</td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td><input type="text"/></td>
                    <td>库存</td>
                    <td><input type="text"/></td>
                </tr>
            </table>
        </div>
        <div class="promotion-type">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option1"> 直降
                        </label>
                        <select class="btn btn-default" name="price-fall">
                            <option value="0">10元</option>
                            <option value="1">20元</option>
                            <option value="2">30元</option>
                            <option value="3">40元</option>
                        </select>
                    </td>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option2"> 打折
                        </label>
                        <select class="btn btn-default" name="discount">
                            <option value="0">9折</option>
                            <option value="1">8折</option>
                            <option value="2">7折</option>
                            <option value="3">6折</option>
                        </select><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option3"> 满减
                        </label>
                        <select class="btn btn-default" name="decrease">
                            <option value="0">满100减10元</option>
                            <option value="1">满200减30元</option>
                            <option value="2">满300减50元</option>
                        </select>
                    </td>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option3"> 满送
                        </label>
                        <select class="btn btn-default" name="coupon">
                            <option value="0">买2赠1</option>
                            <option value="1">买3赠1</option>
                            <option value="2">买4赠1</option>
                            <option value="3">买5赠1</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="goods-promotion-determine">
                <input class="btn btn-default" type="submit" value="确定">
            </div>
        </div>

    </div>
</div>