<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/goodsQuery.css">
    </head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">小巨人网上商城&nbsp;<span class="" aria-hidden="true">>&nbsp;商品管理&nbsp;<span class="" aria-hidden="true">>&nbsp;商品查询</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="my-goods-name">
                            <label for="goods-name">商品名称:</label>
                            <input type="text" class="form-control" id="goods-name" placeholder="请输入商品名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="my-goods-id">
                            <label for="goods-id">商品ID:</label>
                            <input type="text" class="form-control" id="goods-id" placeholder="请输入商品ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="my-goods-name">
                            <label for="goods-price">售&nbsp;&nbsp;&nbsp;&nbsp;价:</label>
                            <input type="text" class="form-control" size="12" id="goods-price">
                                <span aria-hidden="true">-
                            <input type="text"  size="12" id="goods-price" class="form-control">
                        </div>
                    </div>
                    <div class="level">
                        <label>级&nbsp;&nbsp;&nbsp;别:</label>
                        <select class="form-control">
                            <option>一级</option>
                            <option>二级</option>
                            <option>三级</option>
                         </select>
                    </div>
                    <div class="button">
                        <button type="button" class="btn btn-default btn-lg active">查询</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <td>商品名称</td>
                    <td>售价</td>
                    <td>销量</td>
                    <td>库存</td>
                    <td>所属分类</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr><td>手机</td>
                    <td>100</td>
                    <td>100</td>
                    <td>50</td>
                    <td>一级</td>
                    <td>
                        <select class="form-control">
                        <option>关闭</option>
                        <option>开启</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-default" href="#" role="button">删除</a>
                        <a class="btn btn-default" href="#" role="button">修改</a>
                    </td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td>100</td>
                    <td>100</td>
                    <td>50</td>
                    <td>一级</td>
                    <td><select class="form-control">
                        <option>关闭</option>
                        <option>开启</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-default" href="#" role="button">删除</a>
                        <a class="btn btn-default" href="#" role="button">修改</a>
                    </td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td>100</td>
                    <td>100</td>
                    <td>50</td>
                    <td>一级</td>
                    <td><select class="form-control">
                        <option>关闭</option>
                        <option>开启</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-default" href="#" role="button">删除</a>
                        <a class="btn btn-default" href="#" role="button">修改</a>
                    </td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td>100</td>
                    <td>100</td>
                    <td>50</td>
                    <td>一级</td>
                    <td>
                        <select class="form-control">
                        <option>关闭</option>
                        <option>开启</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-default" href="#" role="button">删除</a>
                        <a class="btn btn-default" href="#" role="button">修改</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
