doctype html
html(lang="en")
    head
        title= "category"
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/layout.css")
        link(rel="stylesheet" href="./stylesheets/goodsQuery.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        include header.html
        .container
            .panel.panel-default
                .panel-heading
                    h3(class="panel-title")
                        | 小巨人网上商城
                .panel-body
                    .form-inline
                        .form-group
                            .my-goods-name
                                label(for="goods-name") 商品名称:
                                input(type="text" class="form-control" id="goods-name" placeholder="请输入商品名称")
                        .form-group
                            .my-goods-id
                                label(for="goods-id") 商品ID:
                                input(type="text" class="form-control" id="goods-id" placeholder="请输入商品ID")
                        .form-group
                            .my-goods-name
                                label(for="goods-price") 售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价:
                                input(type="text" class="form-control" size="12" id="goods-price-down")
                                span.minus -
                                input(type="text"  size="12" id="goods-price-up" class="form-control")
                        .form-group.level
                            label(for="goods-price") 级&nbsp;&nbsp;别 :
                            select(class="form-control")
                                option 一级
                                option 二级
                                option 三级
                        .button
                            button(type="button"  id="goods-query" class="btn btn-default btn-lg active") 查询
                table(class="table table-bordered")
                    thead
                        tr(class="active")
                            td 商品名称
                            td 售价
                            td 销量
                            td 库存
                            td 所属分类
                            td 状态
                            td 操作
                    tbody.query-result
        script(src='./jquery/dist/jquery.min.js')
        script(src='./bootstrap/dist/js/bootstrap.min.js')
        script(src='./javascripts/goods-query.js')

        include footer.html
