extends ./layout.jade
block append head
    link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="./stylesheets/promotion-type.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
block content
    .container
        #promotion-type.panel.panel-default
            .panel-heading
                | 促销规则
            .panel-body
                #promotion-type-choose
                    | 促销方式 ：
                    - var hash = {};
                    -for (var i = 0;i < data.length; i++) {
                        if !hash[data[i].type]
                            input(type='radio' id='radio-drop' name='promotion-type')
                            label(class='radio-inline' for='radio-drop') #{data[i].type}
                            - hash[data[i].type]=true;
                    -}
                .form-inline#describe
                    | 直降 ： 在此规则下，商品在实际价格上，再减
                    input(type='text' class='form-control')
                    | 元进行销售。
                button(type='button' id='add-button' class='btn btn-primary btn-lg')
                    | 新增
        .panel.panel-default
            .panel-heading
                | 详细信息
            .panel-body
                table.table.table-striped.table-hover.table-bordered
                    thead
                        tr
                            td 促销方式
                            td 促销规则
                            td 状态
                            td 操作
                    tbody
                        - for (var i = 0; i < data.length; i++){
                            tr
                                td= data[i].type
                                td= data[i].rule
                                td= data[i].status
                                td
                                    a(href='#') [修改]
                                    a(href='#') [删除]
                        -}

block append scripts
    script(type="text/javascript" src="./javascripts/promotion-type.js")
