extends ./layout.jade

block append head
    link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="./stylesheets/promotion-type.css")
block content
    include promotion-type.html
