td {
    text-align:center
}
.my-goods-name {
    margin-left: 106px;
    margin-top: -6px;
}
.my-goods-id {
    margin-left: 700px;
    margin-top: -41px;
}
.level {
    margin-left: 700px;
    margin-top: -41px;
}
.button {
    margin-left: 989px;
    margin-top: -41px;
}
