td {
    text-align:center;
}
.my-goods-name {
    margin-left: 63px;
    margin-top: -6px;
}
.my-goods-id {
    margin-left: 588px;
    margin-top: -41px;
}
.level {
    margin-left: 590px;
    margin-top: -41px;
}
.button {
    margin-left: 973px;
    margin-top: -41px;
}
.table-bordered > tbody > tr > td {
    vertical-align: middle;
}
.form-control {
    width: 76px;
}
