* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,SimSun,Arial;
}
.goods-class,.goods{
    background-color: #D1D9DC;
    height: 30px;
}
.category1,.category2,.category3,.category4 {
    padding-left: 20px;
}
.category {
    display:none;
}
a.btn {
    padding: 3px 6px;
}
.category-promotion,.goods-promotion {
    width: 800px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
}
.img {
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
}
div.goods-promotion-determine>input.btn.btn-default {
    float: right;
    margin-right: 100px;
}
.goods-promotion-determine {
    height: 60px;
}
.promotion-type,.goods-query,.goods-details,.promotion-type,.goods-class,.goods {
    padding: 0 20px;
}