.top {
    height: 73px;
    margin-left:192px;
    margin-top: -83px;
    background-color: rgba(116, 133, 153, 1);
    font-size: 34px;
}
.title {
    background-color: rgba(116, 133, 153, 1);
    width: 189px;
    height: 73px;
    font-size: 30px;
    color: rgb(249, 243, 243);
    margin-top: 1px;
    margin-left: 4px;
    text-align: center;
    line-height: 73px;
}
li {
    font-size: 18px;
    margin-left: 60px;
    width: 83px;
    height: 27px;
}
#nav {
    line-height: 24px;
    list-style-type: none;
    background: #666;
}
#nav a:visited {
    color: #666;
    text-decoration: none;
}
#nav li {
    float: left;
    width: 80px;
    background: #CCC;
    margin-top: 23px;
}
#nav li a:hover {
    background: #999;
}
#nav li ul {
    line-height: 27px;
    list-style-type: none;
    text-align: left;
    left: -999em;
    width: 180px;
    position: absolute;
}
a {
  color: #1F2224;
  text-decoration: none;
}
#nav li ul li {
    width: 180px;
    background: yellow;
}

#nav li:hover ul {
    left: auto;
}

#foot {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    text-align: center;
}
.footbanner {
    text-align: center;
    background: #F5F5F5;
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
}
.footbanner ul {
    margin-top: 20px;
}
.footbanner li {
    display: inline-block;
    margin: 0 30px;
}
p {
    color: #fff;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #7B7373;
}
