* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,SimSun,Arial;
}
table{
    width:100%;
}
td{
    text-align: center;
}
#describe{
    border: 1px solid red;
    margin: 20px auto;
}

#promotion-type-choose{
    margin: 45px auto;
}

#promotion-type-choose label{
    padding-left: 0px;
    margin-right: 50px;
}